[submodule "envs/mo-tndp"]
	path = envs/mo-tndp
	url = https://github.com/sias-uva/mo-tndp.git
[submodule "morl-baselines"]
	path = morl-baselines
	url = https://github.com/LucasAlegre/morl-baselines.git
